.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
body{
    background-color: #f9ffa6;
}
.item {
  background-color: #f9ffa6;
  /*height: 200px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  :hover{
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: #cf0b6d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 3rem;
}
p{
    text-align: center;
    color: #ffa238;
    font-size: 1.2rem;
}

